<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <p><a href="/item/new">Add Item</a></p>

    <script type="text/javascript">
        function checkForm(form){
            console.log(form);
            var valid = false;
            if(typeof form.ids == 'undefined'){
                event.preventDefault();
                alert("You must check at least one item.");
                returnToPreviousPage();
                return false;
            }
            var lengthToCheck = parseInt(form.ids.length-1);
            while(lengthToCheck >= 0){
                if(form.ids[lengthToCheck].checked){
                    valid = true;
                }
                lengthToCheck -= 1;
            }


            if(!valid){
                event.preventDefault();
                alert("You must check at least one item.");
                returnToPreviousPage();
                return false;
            }
            return true;
        }
    </script>

    <form method="post" onsubmit="checkForm(this);" action="/cart/add-item/">

        <div th:each="item : ${items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.id}" th:id="${item.id}"/>
            <label th:for="${item.id}" th:text="${item.name}"></label>
            <label th:for="${item.id}" th:text="${item.price}"></label>
        </div>

        <input type="submit" value="Add To Cart" />
    </form>

</div>

</body>
</html>
