<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cart.items} and ${cart.items.size()}">no cheese :(</p>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>


    <form method="post" action="/cart/remove-item/">

        <div th:each="item : ${cart.items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.id}" th:id="${item.id}"/>
            <label th:for="${item.id}" th:text="${item.name}"></label>
            <label th:for="${item.id}" th:text="${item.price}"></label>
        </div>

        <input type="submit" value="Remove from Cart" />
    </form>

    <label>Total: </label><span th:text="${cart.computeTotal()}" />

</div>

</body>

</html>